<mat-accordion> 
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        Entities Connected({{entities.length}})
      </mat-panel-title>  
    </mat-expansion-panel-header>     

  	<mat-list *ngFor="let entity of entities">
	  	<div class="divider"></div>
	    <div class="list-name">{{entity.name}}</div>
	    <div class="list-info">{{entity.info}}</div>
  	</mat-list>
  </mat-expansion-panel>
</mat-accordion>
